$primaryText: #3F3F3F;
$secondaryText: #49485E;
$color-white: #FFFFFF;
$primaryButton: #7BAE73;
$secondaryButton: #FF8484;
$errorColor: #FF8484;
$inputShadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
$paperShadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$bg: #FFFEFB;