.inputLabel {
    line-height: 13px;
    letter-spacing: -0.02em;
    color: #49485E;
    font-size: 10px;
    position: relative;
    align-self: flex-start;
    margin-bottom: 4px;
}

.inputMargin {
    // padding: 24px 24px 0 24px;
    margin-bottom: 16px;
}

.required {
    &:after {
        content: '';
        position: absolute;
        top: -8px;
        right: -4px;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: #FF8484;
        margin-top: 8px;
    }
}
*:focus {
    outline: none !important;
}
